html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #000;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: #eee;
  }
}

main {
  margin: 0 auto;
  width: 1024px;
}

header {
  text-align: center;
}

samp {
  display: flex;
  justify-content: center;
  padding: 1em;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  main {
    margin: 0;
    width: unset;
  }
}
